/* Write your CSS here */

.box-cont {
  height: 90px;
  width: 250px;
  border: 2px solid #b5b7c4;
  border-radius: 10px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}

.box-heading {
  font-size: 14px;
}

.star-img {
  height: 22px;
}

.box-heading-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.star-button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
